@model curtbrock.Models.Subscriber
@{
    ViewBag.Title = "Curtis Brock II";
}

<!-- Who Container -->
<div id="image">
    <div class="row">

        <div class=" bg1Inner center col-md-8">
            <div class=" bg1InnerText">
                <h3>Who Am I?</h3>
                <div class="separator"></div>
                <h4>
                    I’m a software developer, software engineer, computer scientist, coder, programmer,problem solver and/or computer nerd, depending on who I’m talking to, what I’m talking about, and what the purpose of the conversation is.
                </h4>
            </div>
        </div>
    </div>
</div>

<div id="loader" style="display:none">
    Sending...
</div>
<!-- Skills Container -->
<div class="container-fluid bg-2 text-center" id="skills">

    <div class="row">
        <div id="waypoint"></div>
        <div class="widget widget-teaser col-sm-1"></div>
        <div class="widget widget-teaser col-sm-2">
            <canvas id="canvas1" height="100" width="100"></canvas>
            <h6 style="text-align: center"> C#</h6>
        </div>


        <div class="widget widget-teaser col-sm-2">
            <canvas id="canvas2" height="100" width="100"></canvas>
            <h6 style="text-align: center"> Java Script</h6>
        </div>

        <div class="widget widget-teaser col-lg-2">
            <canvas id="canvas3" height="100" width="100"></canvas>
            <h6 style="text-align: center"> HTML / CSS </h6>
        </div>
        <div class="widget widget-teaser col-sm-2">
            <canvas id="canvas4" height="100" width="100"></canvas>
            <h6 style="text-align: center">MVC</h6>
        </div>
        <div class="widget widget-teaser col-sm-2">
            <canvas id="canvas5" height="100" width="100"></canvas>
            <h6 style="text-align: center">SQL</h6>
        </div>
        <div class="widget widget-teaser col-sm-1"></div>
    </div>
</div>

<!-- Skills Container2 -->
<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-4">
            <i class="fa fa-rocket fa-5x" aria-hidden="true" style="color: #737373"></i>
            <h3 class="widget-title">Operating Systems</h3>
            <div class="widget-content">
                Experience coding on  major platforms, including  Web, Windows, Android
            </div>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-link fa-5x" aria-hidden="true" style="color: #737373"></i>
            <h3 class="widget-title">Creative Software</h3>
            <div class="widget-content">
                Familiar with  Git, Eclipse, Photoshop , TFS , Visual Studio, Net Beans, and more.
            </div>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-fighter-jet fa-5x" aria-hidden="true" style="color: #737373"></i>
            <h3 class="widget-title">Languages</h3>
            <div class="widget-content">
                Experienced with  C#, PHP, Java, HTML, CSS, JavaScript, JQuery, AngularJS , SQL, MySQL, and More.
            </div>
        </div>
    </div>
</div>


<!-- Edu.Container (Grid) -->
<div class="container-fluid bg-5 text-center" id="education">
    <h3>Where I've Learned</h3>
    <div class="separator"></div>
    <div class="row">
        <div class="row col-md-2" style="position: absolute; text-align: center ">
            <i class="fa fa-graduation-cap fa-5x" aria-hidden="true" style="color: #737373"></i>
        </div>
        <div class="col-med-8">

            <div class="row" style=" text-align: center">
                <span>Western Governors University</span><br>
                <span>Bachelor of Science <span class="glyphicon glyphicon-minus"></span> Software Engineering</span>
                <div><h6>2018</h6></div>
            </div>
            <br>
            <div class="row" style=" text-align: center">
                <span>Oakland Community College</span><br>
                Associates of Applied Science <span class="glyphicon glyphicon-minus"></span> Software Engineering
                <div><h6>2015</h6></div>
            </div>
        </div>
        <div class="col-sm-2">


        </div>
    </div>
</div>

<!-- Folio Container -->

<div class="container-fluid bg-6 text-center" id="work">
    <h3>Projects</h3>
    <div class="separator" name="projects"></div>

    <div class="carousel">
        <div class="widget widget-teaser col-sm-3">
            <img src="~/Content/img/bpo5000.png">
            <h6 style="text-align: center"> Realtor Automation Software</h6>
        </div>
        <div class="widget widget-teaser col-sm-3">
            <img src="~/Content/img/fhaCalc.png">
            <h6 style="text-align: center">Fha Mortgage Calculator</h6>
        </div>
        <div class="widget widget-teaser col-sm-3">
            <img src="~/Content/img/adBlazer.png" class="img-responsive img-circle margin" alt="" />
            <h6 style="text-align: center">Online Ad Auto Poster</h6>
        </div>
        <div class="widget widget-teaser col-sm-3">
            <img src="~/Content/img/code.png" alt="" />
            <h6 style="text-align: center">Coding in Visual Studio</h6>
        </div>
    </div>
    <div class="popup"></div>
</div>

<!-- Modal -->


<div class="modal fade" id="myModalForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color:black;">Connect with me</h4>
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            @*@using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions { LoadingElementId = "loader", OnSuccess = "onSuccess" }))
            {@Html.ValidationSummary(true)*@
            <!-- Modal Body -->
            <div class="modal-body">

                <form role="form">
                    <div class="form-group">

                        <input type="text" class="form-control"
                               id="Name" placeholder="Enter name" required="" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control"
                               id="Company" placeholder="Enter Company" required="" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control"
                               id="Email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        
                        ​<textarea id="Message" class="form-control" rows="10" cols="70" placeholder="Enter Message"  required=""></textarea>
                    </div>
                    <button onclick="submit()" class=" btn-btn bg-primary">Submit</button>
                </form>
            </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            data-dismiss="modal">
                        Close
                    </button>

                </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <a href="http://github.com/detroitcoder1"><span class="typcn typcn-social-github-circular"></span></a>
    <a href="https://www.linkedin.com/in/curtbrock/"><span class="typcn typcn-social-linkedin-circular"></span></a>
    <div class="row">
        <div class="col-sm-12 footer-copyright " id="social" style="font-size: 12px">
            <a href="mailto:curtisbrock2@gmail.com">Email Me!!</a>
        </div>
    </div>
</footer>



