@media screen and (max-width: 767px) {
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
/* tablets/desktops and up ———– */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ———– */
@media screen and (min-width: 1200px) {
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
}

body-content {
    width: 100%;
}
p {
    font-size: 16px;
}
.margin {margin-bottom: 45px;}


.separator {
    width: 300px;
    height: 3px;
    background: #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color:red;
}
.center {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 250px;
}

.bg1Inner {
    position: absolute;
    background-color:  #23527c;
    opacity: 0.9;
    color: #ffffff;
    height: auto;
    padding-bottom: 75px;
    
   
}

.bg1InnerText {
    position: static;
    color: white;
    opacity: 10;
     margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


#image {
    position: relative;
    /*    max-width: 1300px;*/
    height: 800px;
    background-image: url('img/desk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-2 { 
    background-color: #ffffff; /* Dark Blue */
    color: #204d74;
    text-decoration-color: #204d74;
/*    padding-top: 100px;*/
}


.bg-3 { 
    background-color: #474e5d; /* White */
    color: #ffffff;
    font-size: 12px;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #474e5d;
    font-size: 40px;
}

.bg-5 { 
    background-color: #e9e9e9; /* Gray */
    color: #474e5d;
    font-family:sans-serif;
    font-size: 16px;
}

.bg-6 { 
    background-color: #474e5d; /* White */
    color: #ffffff;
    font-size: 12px;
}

.bg-6 img {
    width: 100%;
    height: 100%;
}


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
}

#education .separator, #who .separator {
    background-color: #f24759;
}
#education .span{text-align: left;}

footer-copyright {
    font-size: 12px;
}


.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #204d74 !important;
    font-size:  15px;
    letter-spacing: 4px;
}

.carousel {
    /*    border: 2px solid gray;*/
    padding: 10px;
    text-align: center;
    height: auto;

}
.carousel img {
    display: inline-block;
    width: 100px;
    height:100px;
    vertical-align: middle;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(125,125,125,0.5);
}
.popup .wrap {
    width: auto;
    height: 400px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
}
.popup .wrap img {
    height: 100%;
    vertical-align: top;
}
/* FONTS EMBEDDING */
@font-face {
    font-family: 'Novecentowide-Bold';
    src: url('../fonts/novecentowide-bold.eot');
    src: url('../fonts/novecentowide-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/novecentowide-bold.woff') format('woff'),
        url('../fonts/novecentowide-bold.ttf') format('truetype'),
        url('../fonts/novecentowide-bold.svg#novecentowide-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* WIDGETS */
 article .widget-area { border-top: #e9e9e9 1px dashed; margin-top: 67px; }yahoo
 article .widget-area .widget:first-child { border-left: #e9e9e9 1px dashed; }
 article .widget-area .widget { border-right: #e9e9e9 1px dashed; }
.widget { font-size: 18px; line-height: 25px; }
.widget-teaser { padding-top: 32px; }
.widget-teaser .widget-title { margin: 30px 0 54px; }
.widget-teaser img { margin: 0 auto; display: block; }
.widget-teaser .widget-content { padding: 52px 15px; border-top: #e8e8e8 1px dashed; }
.widget-teaser .widget-title { margin-bottom: 20px; }
.widget-teaser .widget-content { border-bottom: #e9e9e9 1px dashed; border-top: none; padding-top: 0; }


/* MODAL */
@media screen and (min-width: 768px) {	
    #myModalNorm  .modal-dialog  {width:400px;}
}
.modal-body .myModalNorm .col-sm-2,
.modal-body .myModalNorm .col-sm-10 {
    width: 25%
}

.modal-body .myModalNorm .control-label {
    text-align: left;
}
.modal-body .myModalNorm .col-sm-offset-2 {
    margin-left: 15px;
}

.modal-body{font-size:12px;
            color:black;
}

.modal-title{color:red;}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


element.style {
}

.body-content {
    /* padding-left: 15px; */
    /* padding-right: 15px; */
}

